body {
    display: flex;
    background-color: azure;
    font-family: sans-serif;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: grey;
}

header h1 {
    font-size: 200%;
    margin: 10px 50px;
    background: border-box;
    padding: 10px 50px;
    background-color: steelblue;
    color: white;
}
header nav ul {
    display: flex;
    justify-content: space-between; 
    min-width: 300px;
    margin:10px;
}

nav li {
    font-weight: bold;
    list-style-type: none;
}

nav li a {
    color: steelblue;
    text-decoration: none;
}

.image {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.portfolio-section {
    display: flex;
    justify-content: space-between;
}

main {
    width: 84%;
    margin: 0 auto;
}
.portfolio-section h2 {
    flex:0 0 20%;
    text-align: right;
}

.portfolio-section div {
    flex: 0 0 75%;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projects article {
    /* background-color: grey; */
    height: 150px;
    flex-basis: calc(50% - 1em);
    margin: 1px;
}
.projects article:first-child {
    height: 300px;
    flex-basis: 100%;
    margin: 5px 15px;
}

.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    min-width: 300px;
    margin:10px;
    
}